h1,h2{ 
  /* 标题样式 */
  color: grey; /* 字体颜色 */
  font-size: 1rem; /* 字号 */;
}

h1{ 
  border-bottom: 1px solid black;  /* 边框底部1像素宽的黑色实线 */
  font-size: 2rem; /* 字号 */;
}

p{
  color: maroon; /* 字体颜色 */
  font-size: 1rem; /* 字号 */;
}

body{
  font-family: Arial; /* 字体 */
}

em{
  font-family: "Cascadia Mono";
}

html{
  font-size: 20px;
}

body{
	color: lightsalmon; /* 用英文表示颜色 */
	color: rgb(227, 180, 184); /* 用RGB表示颜色 */
	color: #5a1216; /* 用16进制表示颜色 */
	color: rgba(39,177,182,0.8); /* 用RGBA表示颜色，给颜色添加透明度 */
	color: #2775b6CC; /* 用16进制表示颜色 */
}